.App {
  font-size: 13px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #005e91;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

input {
  background-color: #ededed;
  border: none;
  border-radius: 3px;
  padding: 7px;
  font-size: 12px;
  /* border: 1px solid lightgray; */
}

input:focus {
  outline: none;
}

button {
  /* background-color: #AF86F1;
  border: 1px solid #AF86F1; */
  background-color: #005e91;
  border: 1px solid #005e91;
  border-radius: 3px;
  color: white;
  width: 60px;
}

button:hover {
  background-color: #005e91;
  border: 1px solid #005e91;
  /* font-weight: bold; */
  cursor: pointer;
}

button:disabled {
  background-color: #b8e5fd;
  border: 1px solid #b8e5fd;
  border-radius: 3px;
  color: white;
  cursor: not-allowed;
}

.sport-head {
  background-color: #ededed;
  width: 100%;
  font-weight: bold;
  text-align: left;
  padding: 10px
}

.sport-body {
  padding: 10px;
}

.team-head {
  padding: 0 10px;
  text-align: left;;
}
.team-body {
  padding: 10px;
}
.error-wrap {
  color: red;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;
}
